html {
	height: 100%;
}

body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #141D24;
}

body.about-me--active .sections-wrapper {
	transform: translateX(0);
}

a {
	text-decoration: none;
}

/***************************/
/************NAV************/
/***************************/

#navbar {
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	position: absolute;
	width: 100%;
}

#navbar ul { 
	margin: 10px; 
	padding: 20px; 
	list-style-type: none; 
	text-align: center; 
} 
 
#navbar ul li {  
	display: inline; 
	font-family: 'Syncopate', sans-serif;
} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1rem; 
	color: #fff; 
	background-color: #141D24;
}
 
#navbar ul li a:hover { 
	color: #000;
}

/****************************/
/************BODY************/
/****************************/


/****************************/


/***************************/
/**********SECTION**********/
/************MAIN***********/
/***************************/

.sections-wrapper {
	transition: transform 2s ease;
	transform: translateX(-50%);
	flex-direction: row;
	display: flex;
	width: 200%;
	height: 100%;
}

.home-container {
	order: 2;
}

.about-me-container {
	order: 1;
}

h1 span {
	display: block;
	text-align: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #141D24;
}

.heading-medium {
	font-family: 'Berkshire Swash', cursive;
	font-weight: 100;
	color: #fff;
	text-align: center;
	font-size: 2.5rem;
	margin: 0;
}

.heading-large {
	font-family: 'Berkshire Swash', cursive;
	font-weight: 100;
	color: #fff;
	font-size: 4.5rem;
	margin: 0 0 10px 0;
}

.sub-heading {
	margin: 10px 0 10px 0;
	font-size: 1.2rem;
	font-family: 'Syncopate', sans-serif;
	color: #fff;
}

.social-links {
	text-align: center;
	margin-top: 1rem;
}

.social-links .fa {
	text-decoration: none;
	font-size: 1.5rem;
	margin: 0 2px;
	color: white;
}

.arrow-button {
	width: 50px;
	height: 50px;
	margin-top: 80px;
	transform: rotate(45deg);
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
}
/***************************/
/**********SECTION**********/
/**********EXAMPLE**********/
/***************************/

.portfolio-examples {
	display: flex;
	justify-content: center;
	background-color: #141D24;
	width: 100%;
}

.work-preview {
	margin: 100px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
}

.work-preview div {
	width: 300px;
	height: 300px;
}

.work-1{background-image: url("../images/hedge.jpg"); background-repeat: no-repeat; background-position: center;}
.work-2{background-image: url("../images/royalty.jpg"); background-position: 80% 20%; background-repeat: no-repeat;} 
.work-3{background-image: url("../images/hedge.jpg"); background-repeat: no-repeat; background-position: center;} 
.work-4{background-image: url("../images/royalty.jpg"); background-position: 80% 20%; background-repeat: no-repeat;} 
.work-5{background-image: url("../images/hedge.jpg"); background-repeat: no-repeat; background-position: center;} 
.work-6{background-image: url("../images/royalty.jpg"); background-position: 80% 20%; background-repeat: no-repeat;}









