html {
	height: 100%;
}

body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #141D24;
}

body.about-me--active .sections-wrapper {
	transform: translateX(0);
}

a {
	text-decoration: none;
}

/***************************/
/************NAV************/
/***************************/

#navbar {
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

#navbar ul { 
	margin: 10px; 
	padding: 20px; 
	list-style-type: none; 
	text-align: center; 
} 
 
#navbar ul li {  
	display: inline; 
	font-family: 'Syncopate', sans-serif;
} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1rem; 
	color: #fff; 
	background-color: #141D24;
}
 
#navbar ul li a:hover { 
	color: #000;
}

/****************************/
/************BODY************/
/****************************/


/**********HOME-PAGE*********/
/************START***********/


/***************************/
/**********SECTION**********/
/************MAIN***********/
/***************************/

.sections-wrapper {
	transition: transform 2s ease;
	transform: translateX(-50%);
	flex-direction: row;
	display: flex;
	width: 200%;
	height: 100%;
}

.home-container {
	order: 2;
}

.about-me-container {
	order: 1;
}

.about-me {
	width: 40%;
	text-align: center;
	color: #fff;
}

.paragraph-text {
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	line-height: 1.5rem;
}

h1 span {
	display: block;
	text-align: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #141D24;
}

.heading-medium {
	font-family: 'Berkshire Swash', cursive;
	font-weight: 100;
	color: #fff;
	text-align: center;
	font-size: 2.5rem;
	margin: 0;
}

.heading-large {
	font-family: 'Berkshire Swash', cursive;
	font-weight: 100;
	color: #fff;
	font-size: 4.5rem;
	margin: 0 0 10px 0;
}

.sub-heading {
	margin: 10px 0 10px 0;
	font-size: 1.2rem;
	font-family: 'Syncopate', sans-serif;
	color: #fff;
}

.social-links {
	text-align: center;
	margin-top: 1rem;
}

.social-links .fa {
	text-decoration: none;
	font-size: 1.5rem;
	margin: 0 2px;
	color: white;
}

.arrow-button {
	width: 50px;
	height: 50px;
	margin-top: 80px;
	transform: rotate(45deg);
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
}
/**********HOME-PAGE*********/
/************END*************/


/***************************/
/**********PORTFOLIO********/
/**********START************/
/***************************/

.projects {
	margin: 0 auto;
	padding: 100px 0;
	width: 80%;
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects .work h2 {
	font-family: 'Syncopate', sans-serif;
	font-size: 1.2rem;
	color: #fff;
	padding-top: 10px;
}

.projects .work h2 a {
	color: #fff;
}

.projects .work p {
	font-family: 'Roboto', sans-serif;
	padding-right: 20px;
	margin: 0;
	color: #fff;
}

.work {
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	flex-direction: row;
	padding: 10px;
	width: 30%;
	max-width: 300px;
	min-width: 300px;
}

.work-img-container {
	width: 300px;
	height: 200px;
}

.work-img-container img {
	width: 100%;
	height: -webkit-fill-available;
}



/***************************/
/**********PORTFOLIO********/
/**********END**************/



/*************MEDIA QUERY**************/

@media (min-width: 300px) and (max-width: 400px) {
	.work {
		width: 100%;
		margin-bottom: 50px;
	}
}

@media (min-width: 401px) and (max-width: 768px) {
	.work {
		width: 80%;
		max-width: 300px;
		margin-bottom: 50px;
	}
}

@media (min-width: 769px) and (max-width: 1000px) {
	.work {
		width: 100%;
		max-width: 300px;
		margin-bottom: 50px;
	}
}

@media (min-width: 1001px) and (max-width: 1200px) {
	.work {
		width: 100%;
		max-width: 300px;
		margin-bottom: 50px;
	}
}







